*{margin: 0;padding: 0}
html{
    font-size:62.5%;
}
a:hover{
    text-decoration: none;
}

body{
    line-height: 1.5;
    background:#fff;
}
ul,ol{
    list-style: none;
}
::selection{
    background:pink;
}
.swiper-container {
    width: 600px;
    height: 300px;
} 
/*清除浮动*/
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}
/*内容居中*/
.center{
    display: block;
    margin-left:auto;
    margin-right:auto;
}
a{
    color:#000;
    text-decoration: none;
}
/*头部*/
.banner{
    position:relative;
    /*z-index: -1;*/
}
header nav{
    background:#fff;
}
.navbar-brand img{
    width: 90%;
}
.nav-gao{
    font-size: 1.2rem;
    color:#bfbfbf;
    padding-top: 3rem;
}
.navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 10px;
    /*line-height: 40px;*/
}
.navbar-default {
     background-color: #fff; 
     border:0; 
}
.city{
    padding-left:10rem;
}
.city span{
    padding-right:1rem;
}
.city i{
    color:#ea4942;
}
.navbar-form {
     padding-top:1rem; 
}

.login{
    display:inline-block;
    padding:0.2rem;
    background: #e94840;
    margin-top: 1.5rem;
    color:#fff;
    font-size: 1rem;
    border-radius:0.4rem;
}
/*banner*/
 .swiper-container {
    width:100%;
    height: 300px;
}
.banner{
    width: 100%;
    position:relative;
}
/*导航*/
.list-nav{
    position: absolute;
    top:0;
    left:3%;
    z-index: 3;
}
.first-nav{
    padding:0.5rem 1.8rem 0.4rem;
    background: #757881;
}
.first-nav li{
    /*padding:0.15rem;*/
    color:#fff;
    font-family: "宋体";
    margin-top:0.35rem;
}
.first-nav li a{
    color:#fff;
    padding-right: 1rem;
}
.first-nav li a:link{
    text-decoration: none;
}
/*列表*/
.hui{
    background: #fbf8f8;
}
.family-clear h2{
    font-size: 2.8rem;
    padding-bottom:1.7rem;
}
.list-text{
    width:100%;
    text-align: center;
}
.list-text>ul{
    width:80%;
    margin: 0 auto;
    text-align: center;
}
.list-text li{
    float: left;
}
.list-text span a{
    padding:1rem 0.5rem;
    display:inline-block;
}
.bc-list-top{
    margin-bottom: 18px;
}
.bc-list-top>span{
    display:inline-block;
}
.bc-list-top>span>a{
    color: #3d3838;
    font-size: 22px;
    padding:0 5px;
    font-family: "幼圆";
}
.bc-more{
    float:right;
    /*padding-right: 1.5rem;*/
    
}
.bc-more>a{
    color: #898989;
    font-size: 18px;
    font-family: "幼圆";
}
.list-text li a{
    display:inline-block;
    padding:0 1rem;
}

/*列表*/
.list-item .thumbnail{
    width: 20%;
    float:left;
}
.list-item .thumbnail:nth-of-type(5){
    margin:0rem;
}
.list-item .caption h3{
    font-size: 1.6rem;
    color:#000;
}
.ti li a{
    padding: 0 1.3rem;
}
.t2 li a{
    padding: 0 1.2rem;
}
.t3 li a{
    padding: 0 0rem;
}
.caption-p{
    font-size: 1.2rem;
    color:#929292;
    padding-bottom: 1rem;
}
.caption-p1{
    font-size: 2.0rem;
    color:#fb474f;
}
.caption-p1 span{
    font-size: 1.6rem;
    color:#fb474f;
}
.caption-more{
    background: #fb474f;
    padding:0.5rem;
    border-radius: 0.5rem;
    color:#fff;
}
.caption-more:hover{
    color:#fff;
}
.jiazheng li{
    float:left;
    padding:0 0.78rem;
}
.jiazheng li a{
    color:#3d3838;
    font-size:1.2rem;
}
.jiazheng{
    border:1px solid #eaeaea;
    padding:1rem 0.6rem;
    margin-top: 1rem;
    width: 99%;
}
/*到位服务保障*/
.server{
    padding:3rem 0 3.7rem 0;
}
.server h2{
    font-size: 3.0rem;
    color:#000;
}
.server h2 span{
    color:#f13e3e;

}
.server p{
    font-size:2rem;
    color:#3d3838;
}
.server-text p{
    float:left;
}
.server-text{
    margin-right: auto;
    margin-left: auto;
    width: 30%;
}
.server-right ul{
    margin-left: 30px;
    width: 1090px;
    line-height: 30px;
    float: left;
}
.server-right ul li>a{
    font-size: 16px;
    color: #898989;
    /*display: inline-block;*/
    /*width: 30%;*/
    text-align: center;
    font-weight: 200;
    cursor: pointer;
    font-family: "微软雅黑";
    padding:0 19px;
}
.server-text img{
    padding-right: 1.2rem;
}
.server-text p{
     padding:0 2rem 0 2rem;
     font-size: 1.2rem;
}
.server-city{
    padding-top: 4rem;
}
.server-city span,.server-right{
    float:left;
    font-family: " 微软雅黑";
    font-size: 18px;
    font-weight:700;
}

.server-right ul{
    padding-left: 3rem;
}
.text-center li{
    float:left;
    padding: 0 1rem;
}
.text-center li a{
     color:#898989;
     display:inline-block;
}

/*footer*/
footer{
    padding:3.1rem 1.3rem 2rem;
    background: #fbf8f8;
}
footer h2{
    font-size:1.7rem;
    font-weight: bold;
}
.footer-logo a{
    display:inline-block;
    padding:0.5rem 0.2rem;
}

.footer-logo a img{
    /*width: 10%;*/
}
footer p{
    font-size: 1.4rem;
    color:#898989;
    padding:0.8rem 0.5rem 0;
}









